@import "../../utils/css/variables.scss";

.movies-card {
  background-color: $secondary-extra-light;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  &:last-of-type {
    margin-bottom: 10px;
  }
  &__description {
    padding: 22px;
    display: flex;
    flex-direction: column;
  }
  &__title {
    @include font-size(18px, 1.22);
    margin: 0 0 13px 0;
    font-weight: 500;
  }
  &__duration {
    @include font-size(11px, 1.18);
    color: $gray;
    margin: 0 0 30px 0;
  }
  &__button {
    width: 14px;
    height: 12px;
    border: none;
    background-repeat: no-repeat;
    object-fit: cover;
    transition: all 0.3s ease;
    &:hover {
      opacity: 0.5;
      cursor: pointer;
    }
  }
  &__like-button {
    background: transparent center url(../../images/like-empty.svg);
    &_active {
      background: transparent center url(../../images/like-filled.svg);
    }
  }
  &__delete-button {
    background: transparent center url(../../images/delete-button.svg);
  }
  &__image {
    padding: 6px;
    width: 220px;
    height: 122px;
  }
}

@media screen and (max-width: 650px) {
  .movies-card {
    &__title {
      @include font-size(12px, 1.22);
    }
  }
}

@media screen and (max-width: 450px) {
  .movies-card {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    &__image {
      padding: 12px 0;
      width: 300px;
      height: 168px;
    }
    &__description {
      position: relative;
      width: 300px;
      padding: 12px 14px;
    }
    &__button {
      position: absolute;
      top: 16px;
      right: 16px;
    }
    &__duration {
      margin: 0 0 12px 0;
    }
  }
}

@media screen and (max-width: 350px) {
  .movies-card {
    &__duration {
      margin: 0;
    }
    &__image {
      padding: 0;
      width: 100%;
      height: 168px;
    }
    &__description {
      box-sizing: border-box;
      width: 100%;
      padding: 12px 14px;
    }
    &__title {
      width: 87%;
    }
  }
}
